@media only screen and (max-width:768px) {
    .nav a {
        display: none;
    }
    .nav i{
        display: none;
    }
    .nav .fa-bars{
        display: inline;
    }
    #header h2{
        font-size: 3rem;
    }
    #header #imge{
        margin-left: 40%;
    }
    .plane__contact{
        grid-template-columns: 1fr;
        margin-left: 1rem;
      
    }
    .plane__contact .item {
        width: 60vh;
        margin-top: 2rem;   
        height: 90%;   
       
    }
    .Voluptate__contact .ilour{
        display: none;
        margin-top: 0.2rem;
      
    }
    .plane__contact img{
        width: 90%;
    }
    .Voluptate .title{
        margin-top: 80rem;
    }
    .Voluptate__contact{
        grid-template-columns: 1fr;
    }
    .about__contact{
        grid-template-columns: 1fr;
    }
   .about__contact .img{
    width: 100%;
   }
   .GROOMS .title{
    padding-top: 2rem;
    margin-top: 2rem;
   }
.blog{
    display: none;
}
.footer{
    height: 180vh;
}
.footer__contact{
    grid-template-columns: 1fr;
}
    .top- {
       background-color: rgb(255, 255, 255);

    }
    .top- a{
        display: none;
    }
    .top- img{
        margin-left: 10rem;
    }
    .footer__contact i{
        margin-left: 1rem;
    }
    .footer__contact .fa-facebook{
        margin-left:10rem;
    }
    .footer__contact iframe{
        width: 100%;
    }




}